output
.DS_Store

# build artifacts
Gemfile.lockcccc6696
progit.htmlcccc6696
progit.pdfcccc6696
progit.pdfmarkscccc6696
progit.epubcccc6696
progit-kf8.epubcccc6696
progit.mobicccc6696
contributors.txtcccc6696
